*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #77c9c9;
    padding: 10px;
}
.anchor{
    text-decoration: none;
    font-weight: bold;
    margin-bottom: 20px;
    color: #6251f5;
}
.contenedor{
    margin-top: 20px;
    border: 5px groove #2d2d97;
    padding: 10px;
    height: 600px;
}

.position{
    width: 100px;
    height: 100px;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
}
.static{
    background-color: #88a545;
}
.sticky{
    background-color: #994e8f;
    /*position: sticky;*/
    /*top: 0;*/

}
.relative{
    background-color: #af5448;
    z-index: 1;
    /* Poner objeto por encima de otro 'capas'*/
    /*position: relative;
    /*top: 0;
    right: 0;
    bottom: 0;
    left: 0;*/
}
.absolute{
    background-color: #235e56;
    /*position: absolute;*/
    /*right: 0;
    bottom: 0;*/
}
.fixed{
    background-color: #5a3585;
    /*position: fixed;*/
   /* top: 0;
    left: 40%;*/
}